body {
  font-family: "Lucida Console", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  position: relative;
  background: url("https://wallpapers.com/images/high/wall-breaker-in-balloon-clash-of-clans-y6n1nxxsn4rmqzb8.webp")
    no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: rgba(61, 43, 40, 0.2);
  color: rgb(21, 20, 20);
  padding: 0.5em 0;
  text-align: center;
  border-bottom: 5px solid #000000;
}

.header-content {
  max-width: 2000px;
  margin: 1.5rem auto;
}

nav a {
  color: rgb(223, 205, 41);
  text-decoration: blink;
  font-size: 1.1em;
  transition: color 0.1s ease-in;
}

nav a:hover {
  color: #ffffff;
}

nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  margin-top: 1rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
  margin: 2em 0;
  padding: 2em;
  background-color: rgba(219, 27, 27, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(226, 26, 26, 0.997);
  border-radius: 20px;
  border: 5px solid rgba(56, 50, 50, 0.887);
  transition: transform 0.4s, background-color 0.4s, border 0.4s;
}

section:hover {
  transform: scale(1.05);
  background-color: rgba(78, 66, 66, 0.263);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h1,
h2 {
  color: #87b8de;
  text-shadow: 20px 20px 40px #000000;
}

h3 {
  color: #baa892;
}

footer {
  background-color: rgba(61, 43, 40, 0.2);
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #000000;
}

.question {
  margin-bottom: 1em;
}

.question button {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: 0.05rem solid;
  background-color: rgb(255, 255, 255, 0.3);
  color: black;
  cursor: pointer;
  transition: background-color 0.4s;
}

.question button:hover {
  background-color: #ffffff;
}

.result {
  margin-top: 0.5em;
  font-weight: bold unset;
}

a {
  color: #ffffff;
}
